# Copyright (c) 2020,2022 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_INTEL_ADSP_CAVS20 || BOARD_INTEL_ADSP_CAVS20_JSL

config BOARD
	default "intel_adsp_cavs20" if BOARD_INTEL_ADSP_CAVS20
	default "intel_adsp_cavs20_jsl" if BOARD_INTEL_ADSP_CAVS20_JSL

endif # BOARD_INTEL_ADSP_CAVS20 || BOARD_INTEL_ADSP_CAVS20_JSL
