CONFIG_X86=y
CONFIG_SOC_QUARK_ATP2=y
CONFIG_BOARD_QUARK_ATP2_PREV_GEN=y
CONFIG_CPU_MINUTEIA=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_IRQ_RISING_EDGE=y
CONFIG_UART_NS16550=y
CONFIG_PRINTK=y

#>> BEGIN override of SoC defaults for previous generation quark se board.

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=32000000

CONFIG_PHYS_LOAD_ADDR=0x40030000
CONFIG_ROM_SIZE=144

CONFIG_PHYS_RAM_ADDR=0xA8006400
CONFIG_RAM_SIZE=55

CONFIG_UART_NS16550_PORT_0_BASE_ADDR=0xB0002000
CONFIG_UART_NS16550_PORT_0_DLF=0x06
CONFIG_UART_NS16550_PORT_0_CLK_FREQ=32000000
CONFIG_UART_NS16550_PORT_0_IRQ=5

CONFIG_UART_NS16550_PORT_1_BASE_ADDR=0xB0002400
CONFIG_UART_NS16550_PORT_1_DLF=0x06
CONFIG_UART_NS16550_PORT_1_CLK_FREQ=32000000
CONFIG_UART_NS16550_PORT_1_IRQ=6
CONFIG_UART_CONSOLE_IRQ=6

#<< END override of SoC defaults for previous generation quark se board
