# Kconfig - Clock controller driver configuration options

#
# Copyright (c) 2015 Intel Corporation
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1) Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2) Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# 3) Neither the name of Intel Corporation nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#

#
# Clock controller drivers
#
menuconfig CLOCK_CONTROL
	bool
	prompt "Hardware clock controller support"
	default n
	help
	  Enable support for hardware clock controller. Such hardware can
	  provide clock for other subsystem, and thus can be also used for
	  power efficiency by controlling their clock. Note that this has
	  nothing to do with RTC.

config  CLOCK_CONTROL_DEBUG
	bool
	prompt "Hardware clock controller drivers debug output"
	depends on CLOCK_CONTROL
	default n

config  CLOCK_CONTROL_ATP
       bool
       prompt "Quark SE Clock controller support"
       depends on CLOCK_CONTROL && PLATFORM_QUARK_SE_X86
       default n
       help
         Enable support for the Quark SE clock driver.

config  CLOCK_CONTROL_ATP_PERIPHERAL
       bool
       prompt "Quark SE peripheral clock support"
       depends on CLOCK_CONTROL_ATP
       default n
       help
         Enable support for Quark SE peripheral clock which controls the
         clock of ATP's I2C, SPI, GPIO controllers and more.

config  CLOCK_CONTROL_ATP_PERIPHERAL_DRV_NAME
       string
       prompt "Quark SE peripheral clock device name"
       depends on CLOCK_CONTROL_ATP_PERIPHERAL
       default "atp_clock_peripheral"

config  CLOCK_CONTROL_ATP_EXTERNAL
       bool
       prompt "Quark SE external clock support"
       depends on CLOCK_CONTROL_ATP
       default n
       help
         Enable support for Quark SE external sub-system clock.

config  CLOCK_CONTROL_ATP_EXTERNAL_DRV_NAME
       string
       prompt "Quark SE external clock device name"
       depends on CLOCK_CONTROL_ATP_PERIPHERAL
       default "atp_clock_external"

config  CLOCK_CONTROL_ATP_SENSOR
       bool
       prompt "Quark SE sensor clock support"
       depends on CLOCK_CONTROL_ATP
       default n
       help
         Enable support for Quark SE sensor sub-system clock.

config  CLOCK_CONTROL_ATP_SENSOR_DRV_NAME
       string
       prompt "Quark SE sensor clock device name"
       depends on CLOCK_CONTROL_ATP_PERIPHERAL
       default "atp_clock_sensor"
