menuconfig RTC
	bool "Real-Time Clock"
	default n
	help
	Enable options for Real-Time Clock drivers.

if RTC

config RTC_DW
	bool "Build Designware RTC Driver"
	default n
	help
	Designware RTC driver.

config QMI_RTC
	depends on QMI_DRIVERS && !RTC_DW
	bool "QMI RTC Driver [EXPERIMENTAL]"
	default n
	help
	Build QMI RTC driver.

endif
