menu "Real-Time Clock"

config RTC_DW
	bool "Build Designware RTC Driver"
	default n
	help
	Designware RTC driver.

config QMI_RTC
	depends on QMI_DRIVERS && !DW_RTC
	bool "QMI RTC Driver [EXPERIMENTAL]"
	default n
	help
	Build QMI RTC driver.

endmenu
