menuconfig WATCHDOG
	bool
	prompt "Watchdog Support"
	default n
	help
	Include support for watchdogs.

if WATCHDOG
config WDT_DW
	bool "Enable DesignWare Watchdog"
	default n
	help
	Enable watchdog timer.

config QMI_WDT
	depends on QMI_DRIVERS && !WDT_DW
	bool "QMI Watchdog driver [EXPERIMENTAL]"
	default n
	help
	Build QMI Watchdog driver.
endif
