/*
 * SPDX-License-Identifier: Apache-2.0
 */

tst_dma0: &dma0 {
	status = "okay";
};

tst_dma1: &dma1 {
	status = "okay";
};

spi1: &scb3 {
	compatible = "infineon,spi";
	status = "okay";
	pinctrl-0 = <&p6_0_scb3_spi_m_mosi &p6_1_scb3_spi_m_miso &p6_2_scb3_spi_m_clk>;
	pinctrl-names = "default";
	cs-gpios = <&gpio_prt6 3 GPIO_ACTIVE_LOW>;
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <2000000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <3000000>;
	};
};

&gpio_prt6 {
	status = "okay";
};

&pinctrl {
	p6_0_scb3_spi_m_mosi: p6_0_scb3_spi_m_mosi {
		pinmux = <DT_CAT1_PINMUX(6, 0, HSIOM_SEL_ACT_8)>;
		drive-push-pull;
	};
	p6_1_scb3_spi_m_miso: p6_1_scb3_spi_m_miso {
		pinmux = <DT_CAT1_PINMUX(6, 1, HSIOM_SEL_ACT_8)>;
		input-enable;
	};
	p6_2_scb3_spi_m_clk: p6_2_scb3_spi_m_clk {
		pinmux = <DT_CAT1_PINMUX(6, 2, HSIOM_SEL_ACT_8)>;
		drive-push-pull;
	};
};

#include <zephyr/dt-bindings/adc/adc.h>

/ {
	zephyr,user {
		io-channels = <&adc0 0>, <&adc0 1>;
	};
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel@0 {
		reg = <0>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,input-positive = <0>;
	};
	channel@1 {
		reg = <1>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 1)>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,input-positive = <1>;
	};
};

/ {
	resources {
		compatible = "test-gpio-basic-api";
		out-gpios = <&gpio_prt9 4 0>;
		in-gpios = <&gpio_prt9 2 0>;
	};
};

&gpio_prt9 {
	status = "okay";
};
