/*
 * Copyright (c) 2021 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

tst_dma0: &dmamux1 {
	status = "okay";
};

&spi1 {
	dmas = <&dmamux1 0 12 STM32_DMA_PERIPH_TX>,
	       <&dmamux1 7 11 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};
};

&dmamux1 {
	status = "okay";
};

/ {
	zephyr,user {
		io-channels = <&adc1 1>, <&adc1 2>;
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in1_pc0 &adc1_in2_pc1>;
	#address-cells = <1>;
	#size-cells = <0>;
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
};

dut: &usart3 {
	dmas = <&dmamux1 5 30 STM32_DMA_PERIPH_TX>,
	       <&dmamux1 4 29 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";
};
