/*
 * Copyright (c) 2025 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&rcc {
	apb2-prescaler = <2>;
};

&spi1 {
	dmas = <&gpdma1 0 2 STM32_DMA_PERIPH_TX>,
	       <&gpdma1 1 1 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";
	fifo-enable;

	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};

	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};
};

&gpdma1 {
	status = "okay";
};

/ {
	zephyr,user {
		io-channels = <&adc4 7>, <&adc4 8>;
	};
};

&adc4 {
	pinctrl-0 = <&adc4_in7_pa2 &adc4_in8_pa1>;
	#address-cells = <1>;
	#size-cells = <0>;
	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@8 {
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
};

/ {
	resources {
		compatible = "test-gpio-basic-api";
		status = "okay";
		out-gpios = <&arduino_header 11 (GPIO_ACTIVE_HIGH | GPIO_PUSH_PULL | GPIO_PULL_UP)>;
		in-gpios = <&arduino_header 10 (GPIO_ACTIVE_HIGH | GPIO_PUSH_PULL | GPIO_PULL_UP)>;
	};
};

&rcc {
	clocks = <&clk_hsi>;
	clock-frequency = <DT_FREQ_M(32)>;
};

dut: &lpuart1 {
	dmas = <&gpdma1 0 16 STM32_DMA_PERIPH_TX>,
	       <&gpdma1 1 15 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";
	fifo-enable;
};
