/* SPDX-License-Identifier: Apache-2.0 */

&pinctrl {
	/* EVB's NU5: SS/CLK/MISO/MOSI */
	spi2_default: spi2_default {
		group0 {
			pinmux = <PA11MFP_SPI2_SS>,
				 <PA10MFP_SPI2_CLK>,
				 <PA9MFP_SPI2_MISO>,
				 <PA8MFP_SPI2_MOSI>;
		};
	};
};

&gpioa {
	status = "okay";
};

&spi2 {
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};

	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};

	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-names = "default";
};

/ {
	zephyr,user {
		io-channels = <&eadc0 0>, <&eadc0 2>;
	};
};

&pinctrl {
	eadc0_default: eadc0_default {
		group0 {
			pinmux = <PB0MFP_EADC0_CH0>, <PB2MFP_EADC0_CH2>;
		};
	};
};

&eadc0 {
	status = "okay";
	pinctrl-0 = <&eadc0_default>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <10>;
	};
	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <10>;
	};
};

/ {
	resources {
		compatible = "test-gpio-basic-api";
		out-gpios = <&gpiob 2 0>;
		in-gpios = <&gpiob 3 0>;
	};
};
