/*
 * Copyright (c) 2024 Renesas Electronics Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&dma0 {
	status = "okay";
};

tst_dma0: &dma0 {};

&spi0 {
	dmas = <&dma0 6 RZ_DMA_PERIPH_TO_MEM>,
	       <&dma0 5 RZ_DMA_MEM_TO_PERIPH>;
	dma-names = "rx", "tx";
	slow@2 {
		compatible = "test-spi-loopback-slow";
		reg = <2>;
		spi-max-frequency = <500000>;
	};
	fast@2 {
		compatible = "test-spi-loopback-fast";
		reg = <2>;
		spi-max-frequency = <8333333>;
	};
};

&dma0 {
	status = "okay";
	dma-buf-addr-alignment = <1>;
};

/ {
	zephyr,user {
		io-channels = <&adc 0>, <&adc 2>;
	};
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,vref-mv = <1800>;
	};
	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,vref-mv = <1800>;
	};
};

/ {
	resources {
		compatible = "test-gpio-basic-api";
		out-gpios = <&gpio8 2 GPIO_ACTIVE_HIGH>;
		in-gpios = <&gpio8 3 GPIO_ACTIVE_HIGH>;
	};
};

&tint1 {
	status = "okay";
};

&gpio8 {
	irqs = <&tint1 3>;
	status = "okay";
};
