/*
 * Copyright 2025 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

tst_dma0: &edma {};

#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/ {
	soc {
		sram_nocache: memory@21070000 {
			compatible = "zephyr,memory-region", "mmio-sram";
			reg = <0x21070000 DT_SIZE_K(64)>;
			zephyr,memory-region = "SRAMNOCACHE";
			zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_RAM_NOCACHE)>;
		};
	};
};

&sram0 {
	compatible = "mmio-sram";
	reg = <0x21000000 DT_SIZE_K(448)>;
};

&pinctrl {
	lpspi3_default: lpspi3_default {
		group0 {
			pinmux = <PO0_LPSPI3_SOUT_O>, <PO14_LPSPI3_SCK_O>;
			output-enable;
		};
		group1 {
			pinmux = <PO11_LPSPI3_SIN_I>;
			input-enable;
		};
	};
};

&lpspi3 {
	status = "okay";
	pinctrl-0 = <&lpspi3_default>;
	pinctrl-names = "default";
	pcs-sck-delay = <1000>;
	sck-pcs-delay = <1000>;
	transfer-delay = <1000>;
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <5000000>;
	};
};

#include <zephyr/dt-bindings/adc/adc.h>

/ {
	zephyr,user {
		io-channels = <&sar_adc0 0>, <&sar_adc0 3>;
	};
};

&sar_adc0 {
	group-channel = "precision";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <11>;
	};
	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <11>;
	};
};

&pinctrl {
	lpuart0_default: lpuart0_default {
		group1 {
			pinmux = <PA1_LPUART0_TX_O>, <PE2_LPUART0_RTS>;
			output-enable;
		};
		group2 {
			pinmux = <PB6_LPUART0_RX>, <PE5_LPUART0_CTS>;
			input-enable;
		};
	};
};

dut: &lpuart0 {
	pinctrl-0 = <&lpuart0_default>;
	pinctrl-names = "default";
	dmas = <&edma 0 94>, <&edma 2 93>;
	dma-names = "tx", "rx";
	current-speed = <115200>;
	nxp,loopback;
	status = "okay";
};

&lpuart3 {
	dmas = <&edma 0 100>, <&edma 2 99>;
	dma-names = "tx", "rx";
};
