/*
 * Copyright 2024 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&edma5 {
	status = "okay";
};

tst_dma0: &edma5 {};

#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/ {
	soc {
		sram_nocache: memory@35870000 {
			compatible = "zephyr,memory-region", "mmio-sram";
			reg = <0x35870000 DT_SIZE_K(64)>;
			zephyr,memory-region = "SRAMNOCACHE";
			zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_RAM_NOCACHE)>;
		};
	};
};

&dram1 {
	compatible = "mmio-sram";
	reg = <0x35780000 DT_SIZE_K(960)>;
};

tst_dma0: &edma5 {
	status = "okay";
};

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			pinmux = <PA8_DSPI_0_SOUT>, <PA6_DSPI_0_SCK_O>, <PA2_DSPI_0_PCS0_O>;
			output-enable;
		};
		group2 {
			pinmux = <PA7_DSPI_0_SIN>;
			input-enable;
		};
	};
};

&spi0 {
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	clock-frequency = <100000000>;
	status = "okay";
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};
};

#include "s32z2xxdc2_s32z270_rtu0.overlay"
