/*
 * Copyright (c) 2025 Silicon Laboratories Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
&dma0 {
	status = "okay";
};

tst_dma0: &dma0 {};

tst_dma0: &dma0 {
	status = "okay";
};

&pinctrl0 {
	spi0_default: spi0_default {
		out {
			pinmux = <GSPI_CLK_HP25>, <GSPI_MOSI_HP27>;
		};
		in {
			pinmux = <GSPI_MISO_HP26>;
		};
	};
};

&spi0 {
	status = "okay";
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	dmas = <&gpdma 0 11>, <&gpdma 1 10>;
	dma-names = "tx", "rx";
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@1 {
		compatible = "test-spi-loopback-fast";
		reg = <1>;
		spi-max-frequency = <10000000>;
	};
};

&gpdma {
	status = "okay";
};

/ {
	zephyr,user {
		io-channels = <&adc0 0>, <&adc0 1>;
	};
};

&pinctrl0 {
	adc0_default: adc0_default {
		group {
			pinmux = <AGPIO_ULP1>, <ADC_TOPGPIO_HP27>;
		};
	};
};

&adc0 {
	pinctrl-0 = <&adc0_default>;
	pinctrl-names = "default";
	silabs,adc-ref-voltage = <3300>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <12>;
		zephyr,input-positive = <10>;
	};
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <12>;
		zephyr,input-positive = <7>;
	};
	status = "okay";
};
