/*
 * Copyright (c) 2021 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

tst_dma0: &dmamux1 {
	status = "okay";
};

&spi3 {
	dmas = <&dmamux1 0 16 STM32_DMA_PERIPH_TX>,
	       <&dmamux1 7 15 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};
};

&dmamux1 {
	status = "okay";
};

/ {
	zephyr,user {
		io-channels = <&adc1 13>, <&adc1 14>;
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in13_pc4 &adc1_in14_pc5>;
	#address-cells = <1>;
	#size-cells = <0>;
	channel@d {
		reg = <13>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@e {
		reg = <14>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
};
