/*
 * Copyright (c) 2025 Andriy Gelman
 *
 * SPDX-License-Identifier: Apache-2.0
 */

tst_dma0: &dma0 {
	status = "okay";
};

&spi_mosi_p3_8_u2c0 {
	drive-strength = "strong-soft-edge";
	drive-push-pull;
	hwctrl = "disabled";
};

&spi_miso_p3_7_u2c0 {
	drive-strength = "strong-soft-edge";
	hwctrl = "disabled";
};

&spi_sclk_p3_9_u2c0 {
	drive-strength = "strong-soft-edge";
	drive-push-pull;
	hwctrl = "disabled";
};

&usic2ch0 {
	compatible = "infineon,xmc4xxx-spi";
	pinctrl-0 = <&spi_mosi_p3_8_u2c0 &spi_miso_p3_7_u2c0 &spi_sclk_p3_9_u2c0>;
	pinctrl-names = "default";
	miso-src = "DX0C";
	interrupts = <96 1>;
	interrupt-names = "rx";
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};
};

#include <zephyr/dt-bindings/adc/adc.h>

/ {
	zephyr,user {
		io-channels = <&adc0 0>, <&adc0 1>;
	};
};

&adc0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

#include <zephyr/dt-bindings/dma/infineon-xmc4xxx-dma.h>

dut: &usic1ch1 {
	compatible = "infineon,xmc4xxx-uart";
	status = "okay";
	/delete-property/ scl-src;
	/delete-property/ sda-src;
	current-speed = <921600>;
	interrupts = <90 1 91 1>;
	interrupt-names = "tx", "rx";
	dmas = <&dma0 2 0 XMC4XXX_SET_CONFIG(1, 11)>, <&dma0 3 0 XMC4XXX_SET_CONFIG(3, 12)>;
	dma-names = "tx", "rx";
	pinctrl-0 = <&uart_tx_p3_15_u1c1 &uart_rx_p3_14_u1c1>;
	pinctrl-names = "default";
	input-src = "DX0G"; //loopback
	fifo-start-offset = <0>;
	fifo-tx-size = <0>;
	fifo-rx-size = <0>;
	data-bits = <8>;
	stop-bits = "1";
};

&uart_tx_p3_15_u1c1 {
	drive-strength = "strong-soft-edge";
	drive-push-pull;
	hwctrl = "disabled";
};

&uart_rx_p3_14_u1c1 {
	drive-strength = "strong-soft-edge";
	hwctrl = "disabled";
};

&dma0 {
	status = "okay";
};
