/*
 * Copyright (c) 2025 Andriy Gelman
 *
 * SPDX-License-Identifier: Apache-2.0
 */

tst_dma0: &dma0 {
	status = "okay";
};

#include <zephyr/dt-bindings/dma/infineon-xmc4xxx-dma.h>

&spi_mosi_p1_5_u0c0 {
	drive-strength = "strong-soft-edge";
	hwctrl = "disabled";
};

&spi_miso_p1_4_u0c0 {
	drive-strength = "strong-soft-edge";
	hwctrl = "disabled";
};

&spi_sclk_p0_8_u0c0 {
	drive-strength = "strong-soft-edge";
	hwctrl = "disabled";
};

&usic0ch0 {
	compatible = "infineon,xmc4xxx-spi";
	pinctrl-0 = <&spi_mosi_p1_5_u0c0 &spi_miso_p1_4_u0c0 &spi_sclk_p0_8_u0c0>;
	pinctrl-names = "default";
	miso-src = "DX0B";
	interrupts = <84 1 85 1>;
	interrupt-names = "tx", "rx";
	dmas = <&dma0 1 0 XMC4XXX_SET_CONFIG(0, 10)>, <&dma0 2 0 XMC4XXX_SET_CONFIG(2, 11)>;
	dma-names = "tx", "rx";
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <16000000>;
	};
};

&dma0 {
	status = "okay";
};

/ {
	zephyr,user {
		io-channels = <&adc0 0>, <&adc0 1>;
	};
};

&adc0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

dut: &usic2ch0 {
	compatible = "infineon,xmc4xxx-uart";
	current-speed = <921600>;
	pinctrl-0 = <&uart_tx_p5_0_u2c0 &uart_rx_p5_1_u2c0>;
	pinctrl-names = "default";
	input-src = "DX0G";
	interrupts = <96 1 97 1>;
	interrupt-names = "tx", "rx";
	dmas = <&dma1 1 0 XMC4XXX_SET_CONFIG(10, 6)>, <&dma1 2 0 XMC4XXX_SET_CONFIG(11, 6)>;
	dma-names = "tx", "rx";
	fifo-start-offset = <0>;
	fifo-tx-size = <0>;
	fifo-rx-size = <0>;
	data-bits = <8>;
	stop-bits = "1";
	status = "okay";
};

&uart_tx_p5_0_u2c0 {
	drive-strength = "strong-soft-edge";
	drive-push-pull;
	hwctrl = "disabled";
};

&uart_rx_p5_1_u2c0 {
	drive-strength = "strong-soft-edge";
	hwctrl = "disabled";
};

&dma1 {
	status = "okay";
};
